<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<h1>Edit spending</h1>
  <form method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="{{ name }}"> <br/>

    <label for="category_id">Category</label>
    <select id="category_id" name="category_id" value="{{ category_id }}">
        <option value="">--Categories--</option>
            {% for key, value in categories_names.items() %}
                <option value="{{key}}">{{ value }}</option>
            {% endfor %}
    </select><br/>

    <label for="date">Date</label>
    <input type="date" name="date" id="date" value="{{ date }}" > <br/>

    <label for="spending">Spending</label>
    <input type="number" name="spending" id="spending" value="{{ spending }}"> <br/>


    <label for="is_spending">Spending/Income</label>
    <select id="is_spending" name="is_spending" value="{{ is_spending }}" >
        <option value="Spending" selected="selected">Spending</option>
        <option value="Income">Income</option>
    </select><br/>
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
  </br></br>
  <h2><a href="{{ url_for('spendings.main_page_spendings') }}">Spendings</a></h2>
  </form>
</body>
</html>